#card {
    justify-content: center;
}

#main-card {
    margin-top: 25px;
    opacity: 0.8;
}

#main-card h1{
    opacity: 1;
}

#main-card ul li {
    list-style: none;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}